name: A

on:
  schedule:
    - cron: '1 16 * * *'
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
    - name: 检出仓库
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.PAT }}

    - name: 设置Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: 安装依赖
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        
    - name: 运行
      run: python main.py
      env:
        ACCOUNT: ${{ secrets.ACCOUNT }}
        PASSWORD: ${{ secrets.PASSWORD }}